.movie-container {
    background-color: rgba(31, 24, 75, 0.6);
    height: 340px;
    width: 500px;
    margin: 2em;
    border-radius: 0.2em;
    text-align: center;
}

.poster {
    max-height: 340px;
}