.movie-container {
    background-color: rgba(31, 24, 75, 0.2);
    height: 400px;
    width: 680px;
    margin: 2em;
    border-radius: 0.4em;
    text-align: center;
    vertical-align: top;

    display: flex;
    
}

.poster {
    max-height: 400px;
}

.info-icon {
    color: white;
    margin-top: 8px;
    cursor: pointer;
    
}
.material-icons.md-30 { font-size: 30px; }

.video-player {
    margin-right: 5px;
}
.infographic {
    /* background-color: rgba(31, 24, 75, 0.2); */
    
    height: 400px;
    width: 640px;
    position: relative;
    top: -400px;
    vertical-align: top;
    color: white;
    /* margin-top: -19px;  to keep it from going down */
    display: flex;
    flex-direction: column;
    
}

.off {
    display: none;
    
}

.on {
    background-color: rgba(31, 24, 75, 0.85);
    transition: all 0.2s linear;
}

h2, p {
    margin-top: 0;
    padding-top: 1em;
    color: white;
}

.ig-release {
    display: inline-block;
}

.ig-release-icon {
    position: relative;
    top: 0.27em;
    right: 0.5em;
    font-size: 17px;
}

.ig-release {
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: 17px;
}

.percentage {
    font-size: 0.65em;
    fill: white;
}

.circle {
    animation: progress 1s ease-out forwards;
    stroke-linecap: round;
}
@keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }